In [1]:
import pandas as pd

# Load and Display:

In [2]:
# Load the dataset into a pandas DataFrame
dataset = pd.read_csv (r'C:\Users\spdhy\Desktop\7learn\Statistics\rideshare_kaggle.csv')

# Display the first 5 rows of the dataset to get an overview
dataset.head(5)

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800

In [4]:
# List all column names in the dataset
dataset.columns

Index(['id', 'timestamp', 'hour', 'day', 'month', 'datetime', 'timezone',
       'source', 'destination', 'cab_type', 'product_id', 'name', 'price',
       'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature',
       'apparentTemperature', 'short_summary', 'long_summary',
       'precipIntensity', 'precipProbability', 'humidity', 'windSpeed',
       'windGust', 'windGustTime', 'visibility', 'temperatureHigh',
       'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
       'apparentTemperatureHigh', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon',
       'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex',
       'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase',
       'precipIntensityMax', 'uvIndexTime', 'temperatureMin',
       'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime',
       'apparentTemperatureMin', 'apparentTemperatureMinTime',
       'apparentTemperatureMax', 'apparentTemperatureMaxTime'],
      dtype='object')

In [5]:
# Find the total number of rows in the dataset
len(dataset)

693071

In [6]:
# Access the 'hour' column to explore its data
dataset ['hour']

0          9
1          2
2          1
3          4
4          3
          ..
693066    23
693067    23
693068    23
693069    23
693070    23
Name: hour, Length: 693071, dtype: int64

# Moments in statistics:

##### Data centrality measures the center of the data distribution.
##### First moment (Mean): Represents the average value of the data.
##### It's sensitive to outliers (extreme values).

## 1. Mean

In [11]:
# Calculate the mean for the 'hour' column
dataset['hour'].mean ()

<bound method Series.mean of 0          9
1          2
2          1
3          4
4          3
          ..
693066    23
693067    23
693068    23
693069    23
693070    23
Name: hour, Length: 693071, dtype: int64>

In [13]:
# Calculate the mean for the 'price' column
# Note: Mean can be affected by outliers, so it may not always represent the data accurately.

dataset['price'].mean()

16.545125490614065

### 1.1. Median:

In [ ]:
# Median: Represents the middle value of the data when sorted.
# It is less sensitive to outliers compared to the mean.
# Half the data points are smaller, and half are larger than the median.

In [15]:
dataset['price'].median()

13.5

### 1.2. Mode:

In [ ]:
# Mode: Represents the most frequent value in the dataset.
# It is often used for categorical data, while mean and median are better for numerical data.

In [19]:
# Most frequent value in the 'price' column
dataset['price'].mode()

0    7.0
Name: price, dtype: float64

In [23]:
# Most frequent value in the 'hour' column
dataset['hour'].mode()

0    0
Name: hour, dtype: int64

In [29]:
# Most frequent value in the 'destination' column
dataset['destination'].mode()

0    Financial District
Name: destination, dtype: object

### 1.3. Trimmed Mean:

In [ ]:
# Trimmed Mean: A modified mean that is less sensitive to outliers.
# It calculates the mean after removing a specified percentage of the smallest and largest values.
# Remove the top and bottom 10% of the data and calculate the mean of the remaining 80%.

In [31]:
from scipy import stats

In [35]:
stats.trim_mean(dataset['price'], 0.1)

17.16896103755566

# Summary:

In [ ]:

# 1. The mean provides a quick sense of the central value but can be misleading with outliers.
# 2. The median is a better measure of central tendency when the data has outliers.
# 3. The mode is useful for identifying the most common values, especially in categorical data.
# 4. The trimmed mean helps to avoid the influence of extreme values (noise) in the dataset.